* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* color: white; */
}

.section {
  /* background-color: aquamarine; */
}

.container {
  /* background-color: antiquewhite; */
  max-width: 1200px;
  margin-inline: auto;
  padding-inline: 24px;
  padding-block: 18px;
}

.footer {
  background-color: rgb(0, 0, 0);
  height: 18.75rem;
  font-size: 1.875rem;
  margin-top: 50px;
  font-style: italic;
  color: rgb(196, 255, 130);
}
.footer__text {
  margin-top: 3.125rem;
}

.dummy {
  color: black;
}

.wrapper {
  /* background-color: darkcyan; */
  padding-block: 64px;
}

.button {
  width: -moz-fit-content;
  width: fit-content;
  background-color: rgb(176, 251, 0);
  font-weight: 700;
  padding: 10px 20px;
  border-radius: 8px;
  text-align: center;
}
.button--type-text {
  background-color: unset;
  color: rgb(176, 251, 0);
}

.nav {
  background-color: rgb(0, 0, 0);
  color: rgb(157, 255, 0);
  font-weight: bold;
  font-size: 20px;
  container-type: inline-size;
  container-name: nav;
}
.nav .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-block: 12px;
}
.nav__menuWrapper {
  display: flex;
  gap: 36px;
  align-items: baseline;
}
.nav .lt680px {
  display: none;
}
@container nav (width < 42.5rem) {
  .nav__menuWrapper {
    display: none;
  }
  .nav .lt680px {
    display: unset;
  }
}
.nav__logo {
  font-size: 50px;
  font-style: italic;
  text-decoration: underline;
}

.main__media {
  background-color: rgb(220, 220, 220);
  overflow: hidden;
}
.main__media img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#hero1 {
  text-align: center;
}
#hero1 .button {
  margin-inline: auto;
}
#hero1 .button--type-text {
  margin-bottom: 60px;
}
#hero1 .main__text {
  margin-inline: auto;
  max-width: 600px;
  margin-bottom: 24px;
}
#hero1 .main__media {
  aspect-ratio: 16/9;
}

.title {
  color: rgb(0, 0, 0);
  font-style: italic;
  font-weight: 700;
  text-align: left;
}

h2 {
  margin-bottom: 16px;
}

p {
  margin-top: 20px;
  margin-bottom: 24px;
  color: rgb(79, 79, 79);
}

.align {
  text-align: left;
}

#hero2 {
  background-color: rgb(255, 253, 255);
}
#hero2 .wrapper {
  display: flex;
  align-items: center;
  gap: 24px;
}
#hero2 .wrapper > * {
  flex: 1;
}
#hero2 .main__text__buttonWrapper {
  display: flex;
  gap: 16px;
}
#hero2 .main__media {
  aspect-ratio: 4/3;
}
#hero2 h2 {
  margin-bottom: 50px;
}
#hero2 p {
  max-width: 40ch;
  margin-bottom: 24px;
}
@media (width < 53.125rem) {
  #hero2 .wrapper {
    display: unset;
    text-align: center;
  }
  #hero2 .wrapper p {
    margin-inline: auto;
  }
  #hero2 .main__text {
    margin-bottom: 2.25rem;
  }
  #hero2 .main__text__buttonWrapper {
    margin-inline: auto;
    flex-direction: column;
    align-items: center;
    gap: 0;
  }
}