* {
  box-sizing: border-box;
}

html {
  color-scheme: light dark;
}

body {
  margin: 0;
  font-family: system-ui;
  font-size: 1.125rem;
  line-height: 1.5;
}

.wrapper {
  width: min(60ch, 100% - 4rem);
  min-height: max(600px, 100dvh);
  margin-inline: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contents {
  margin-inline: auto;
  justify-content: center;
  align-items: center;
}

#section1 {
  background-color: black;
  color: white;
}
#section1 .title {
  font-size: 3.125rem;
  font-weight: 300;
  font-family: fantasy;
  text-align: center;
}

#section0 {
  background: linear-gradient(rgb(0, 0, 0) 32%, white);
}
#section0.scrollArea {
  justify-content: center;
  aspect-ratio: 1/6;
  width: 100%;
}

#section2 {
  background-color: white;
}
#section2 .contents.animTarget {
  transform: scale(0);
  transition: transform 500ms ease-out;
}
#section2 .contents.triggered.animTarget {
  transform: scale(1);
}
#section2 #wl {
  font-family: fantasy;
  text-align: center;
}
#section2 #space {
  text-align: center;
}

#button {
  display: flex;
}

.container {
  margin-inline: auto;
  padding-inline: 2rem;
}

@media (width < 37.5rem) {
  .container {
    padding-inline: 1rem;
  }
}
.card {
  border: 0.0625rem solid #ccc;
  border-radius: 0.5rem;
  max-width: 18.75rem;
  overflow: hidden;
}
.card__img {
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 4/3;
  width: 100%;
}
.card__text {
  padding: 1rem;
}
.card__text h3 {
  font-family: fantasy;
  text-align: center;
  font-size: 1.25rem;
  line-height: 0.625rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}
.card__button {
  padding: 1rem;
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

.button {
  padding: 0.5rem 1rem;
  font-size: 0.875rem;
  line-height: 0.875rem;
  font-family: fantasy;
  background-color: rgb(97, 97, 255);
  color: rgba(255, 255, 255, 0.87);
  border-radius: 62.4375rem;
}